*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary: #0d6efd;
    --section-bg: #f6f9fe;
    --title-bg: #e7f1fd;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    cursor: pointer;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.header-component h6{
    background-color: var(--title-bg);
}

/* NavBar ==>START */
.navbar-nav .nav-item .nav-link{
    color: #222222;
}

.navbar-nav .nav-item .nav-link:hover{
    color: var(--primary);
}

.navbar-nav .nav-item .nav-link.active{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.dropdown-toggle::after{
    display: none;
}

/* NavBar ==>END */

/* Hero Section ==>START */
.hero-section{
    position: relative;
}

.hero-section::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-image: url("../imgs/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(0.5);
}

.hero-section .container{
    position: relative;
}

.hero__watch-video svg{
    width: 0.75rem;
    height: 0.75rem;
}
/* Hero Section ==>END */

/* Cards Section ==>START */
.cards-section .card{
    max-width: 19.5rem !important;
}

@media (max-width: 760px){
    .cards-section .card{
        max-width: 100% !important;
    }
}
/* Cards Section ==>END */
/* About section ==>START */
.about__info{
    background-color: var(--section-bg);
}

.about__info i{
    color: var(--primary);
    box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
}

.about__info ul li h5{
    color: #555555;
    font-size: 1.125rem;
}

.about__tech .tech__list li p{
    font-size: 0.8rem;
}

.about__tech .tech__list li .bar{
    background-color: #E2EEFD;
}

.tech__list #html .percent{
    width: 100%;
}
.tech__list #php .percent{
    width: 80%;
}

.tech__list #css .percent{
    width: 90%;
}
.tech__list #wordpress .percent{
    width: 90%;
}
.tech__list #javascript .percent{
    width: 75%;
}
.tech__list #photoshop .percent{
    width: 55%;
}

.tech__states li div{
    background-color: #f1f6fe;
}
.tech__states i{
    padding: 0.75rem;
    top: -1.5rem;
    left: 50%;
    transform: translate(-50%);
}

.tech__states .states__number{
    color: #062b5b;
}

.about__clients{
    background-color: #f1f6fe;
}
/* About section ==>END */
/* Services section ==>START */
.services__list li .card{
    border-color: #e2eefd;
}

.services__list li .card i{
    padding: 1rem;
    color: #3b8af2;
    background-color: #f1f6fe;
    border-color: #deebfd !important;
}
.services__list li .card p{
    font-size: 0.875rem;
}
/* Services section ==>END */

/* Client Feedback section ==>START */
.client-feedback-section{
    position: relative;
}

.client-feedback-section::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-image: url("../imgs/testimonials-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(30%);
}

.client-feedback-section .container{
    position: relative;
}

.client-feedback-section .carousel-indicators button{
    width: 0.75rem;
    height: 0.75rem;
}

.client-feedback-section .carousel-indicators button.active{
    background-color: var(--primary);
}

.client-feedback-section .carousel-item img{
    width: 6rem;
    border :6px solid rgba(255, 255, 255, 0.15);
}
/* Client Feedback section ==>END */
/* Portfolio section ==>START */
.portfolio-section ul li a.active{
    color: var(--primary);
}

.portfolio-section ul li a:hover{
    color: var(--primary);
}
/* Portfolio section ==>END */
/* Our Team section ==>START */
.ourTeam-section{
    background-color: var(--section-bg);
}
/* Our Team section ==>END */
/* Pricing section ==>START */
.pricing-section .card h6, .pricing-section .card .card-button{
    color: #777777;
    background: #f8f8f8;
}

.pricing-section .card #ultimatePckg{
    position: relative;
}

.pricing-section .card #ultimatePckg::after{
    content: "Advanced";
    position: absolute;
    font-weight: normal;
    font-size: 0.875rem;
    color: white;
    right: -15%;
    background-color: var(--primary);
    padding: 0.3rem 3rem;
    transform: rotate(45deg);
}
/* Pricing section ==>END */
/* FAQ section ==>START */
.faq-section{
    background-color: var(--section-bg);
}

.faq-section .accordion-item{
    border-bottom: 1px solid #d4e5fc;
}


.faq-section .accordion-item button, .faq-section .accordion-item .accordion-body{
    background-color: var(--section-bg);
}

.faq-section .accordion-item button:hover{
    color: var(--primary);
}

.faq-section .accordion-button{
    position: relative;
    padding-left: 2rem;
}
.faq-section .accordion-button::after{
    position: absolute;
    left: 0;
}
/* FAQ section ==>END */
/* Contact us section ==>START */
.contactUs-section .contact__info .card i{
    width: 3.2rem;
    height: 3.2rem;
    border: 2px dotted #b3d1fa;
    position: relative;
}

.contactUs-section .contact__info .card i::before{
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translatex(-50%);
}
/* Contact us section ==>END */
/* Newsletter section ==>START */
.newsletter-section{
    background-color: var(--section-bg);
}
/* Newsletter section ==>END */
